@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Griffy', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --white: #fefefe;
  --black: #111;
  --gray: #222222;
  --soft-white: #f1f1f1;
  --primary: #2c0047;
  /* --primary: #0b042d; */
  --secondary: #ffc640;
  --terceary: #7b2486;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--terceary);
  border-radius: 5px;
}

body {
  min-height: 100vh;
}

button {
  cursor: pointer;
}

.btn-primary {
  background-color: var(--secondary);
  color: var(--terceary);
  border-radius: 20px;
  padding: 8px 15px;
  font-size: 1.5rem;
  transition: all .2s ease;
  text-align: center;
}

.creepy-font {
  font-family: 'Nosifer';
}

.btn-primary:hover {
  filter: brightness(80%);
}

.category-item {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
}

.category-item:hover {
  background-color: var(--secondary);
  color: var(--terceary);
}

.card:hover > .heart, .card:hover > .cart {
  display: block;
}

.product-jumpscare {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(226deg, #111, #333, #111);
  top: 0;
  left: 0;
  border-radius: 12px;
  z-index: 999;
  cursor: pointer;
  animation: undiscovered 2s ease infinite alternate;
  background-size: 400% 400%;
}

.abobora {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 10%;
  opacity: 0;
  z-index: 9999;
  transform: translate(-50%,-50%);
  animation: 60s linear 10s abobora-aumentando;
}

.gradient-background {
  background: radial-gradient(ellipse at bottom, var(--primary) 0%,#0b042d 100%);
}


@keyframes abobora-aumentando {
  0% {
    opacity: 0;
    width: 10%;
  }

  20% {
    opacity: 0.05;
    width: 20%;
  }

  40% {
    opacity: 0.1;
    width: 40%;
  }

  60% {
    opacity: 0.15;
    width: 60%;
  }

  80% {
    opacity: 0.3;
    width: 80%;
  }

  100% {
    opacity: 0.5;
    width: 100%;
  }
}

@keyframes undiscovered {
  0% {
    background-position:93% 0%
  }

  100% {
    background-position:0% 100%
  }
}

@keyframes fantasma-passando {
  0% {
    transform: translateX(-100%);
  }

  10% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(600%);
  }
}

@media (max-width: 1000px) {
  .category-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1280px) {
  .btn-primary {
    padding: 6px 12px;
    font-size: 1.3rem;
  }
}
